<div id="<%= dom_id book %>">
  <p>
    <strong>Titulo:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

</div>
